extends layout

block content

    if confirmError
        h1 Passwords don't match!
    else
        h1 You can change your password here

    form(method='POST', action='/change-password/')

        input(type="hidden" name="_csrf" value=csrfToken)  

        label.label(for="newPassword") New password:
        input.input(type="password", name="newPassword")
        br
        label.label(for="newPasswordConfirm") Confirm new password:
        input.input(type="password", name="newPasswordConfirm")  

        br

        button.submit(type="submit") Change password
    
    form(method='GET', action='/')

        button.submit(type="submit") Go back