body {
    font-family: tahoma, sans-serif;
    text-align: center;
    background: #404040;
    color: #DCDCDC;
    font-size: 18pt;
}

header {
    font-size: 30pt;
    color: orange;
    margin-bottom: 30px;
}

.label {
    font-size: 24pt;
    color: orange;
}

.input {
    font-size: 16pt;
}

.submit {
    font-size: 18pt;
    margin: 25px;
}

.smallSubmit {
    font-size: 16pt;
    margin: 5px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.quizSelect {
    font-size: 16pt;
    margin-top: 20px;
}

#answers {
    margin: auto;
    font-size: 20px;
    text-align: center;
}

#answers th {
    padding: 5px;
}

#answers td {
    padding: 5px;
}

#leaderboard h1 {
    font-size: 30pt;
}